<div class="row">
  <div class="col-sm-4 col-sm-offset-4">

    <h1>New Profile</h1>

  </div>
</div>

  <%= render 'form', profile: @profile %>

<div class="row">
  <div class="col-sm-4 col-sm-offset-4">

    <%= link_to 'Back', profiles_path, class: 'btn all-profile-link' %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn sign-out-link' %>

  </div>
</div>
