<div class="row top-row">
  <div class="col-sm-4 col-sm-offset-4">

    <h1>Add New Photo</h1>

  </div>
</div>

  <%= render 'form', photo: @photo %>

<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <%= link_to 'All Vehicle Photos', photos_path, class: 'btn all-vehicle-photo-link' %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn sign-out-link' %>
  </div>
</div>
