<%= render 'vehicle', vehicles: @vehicles %>

<div class="container-fluid  col-xs-12 col-sm-12 col-lg-12 col-xl-12">
  <!--<%= link_to 'New Vehicle', new_vehicle_path, class: 'btn new-vehicle-link' %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn sign-out-link' %>-->
</div>
