/*body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
*/

.update-profile-link,
.update-vehicle-link,
.add-vehicle-image-link {
	color: white;
	background-color: #00558D;
	font-size: 16px;
  text-decoration: none;
}

.update-profile-link:hover:hover,
.update-vehicle-link:hover,
.add-vehicle-image-link:hover, {
	color: white;
	background-color: #002B47;
}

.home-link,
.id-profile-link,
.id-vehicle-link,
.id-photo-link,
.edit-profile-link,
.edit-vehicle-link,
.edit-photo-link,
.edit-registration-link,
.all-profile-link,
.all-vehicle-link,
.all-vehicle-photo-link,
.new-profile-link,
.new-vehicle-link,
.new-photo-link,
.destroy-profile-link,
.destroy-vehicle-link,
.back-to-profile-link,
.back-to-vehicle-link,
.sign-out-link,
.build-vehicle-link,
.build-advert-link {
  color: white;
  background-color: #00558D;
  font-size: 13px;
  text-decoration: none;
}

.home-link:hover,
.id-profile-link:hover,
.id-vehicle-link:hover,
.edit-profile-link:hover,
.edit-photo-link:hover,
.edit-registration-link:hover,
.all-profile-link:hover,
.all-vehicle-link:hover,
.new-profile-link:hover,
.new-vehicle-link:hover,
.new-photo-link:hover,
.back-to-profile-link:hover,
.back-to-vehicle-link:hover,
.destroy-profile-link:hover,
.destroy-vehicle-link:hover,
.sign-out-link:hover,
.build-vehicle-link:hover,
.build-advert-link:hover {
  color: white;
	background-color: #002B47;
}
